<div class="plantas-container">
  <h1 class="titulo-principal">Tenemos variedades de plantas en:</h1>
  
  <div class="plantas-grid">
    <div class="divers">
      <h2>Árboles Frutales</h2>
      <img src="https://images.pexels.com/photos/2895712/pexels-photo-2895712.png" alt="Árboles Frutales">
    </div>

    <div class="divers">
      <h2>Plantas para el Hogar</h2>
      <img src="https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg" alt="Plantas para el Hogar">
    </div>

    <div class="divers">
      <h2>Arbustos</h2>
      <img src="https://images.pexels.com/photos/32820292/pexels-photo-32820292.jpeg" alt="Arbustos">
    </div>
  </div>
</div>
