<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>TIGERSPLANTS</h3>
      <p>“Donde la naturaleza florece contigo”. Conectamos personas con el poder de lo natural.</p>
    </div>
    <div class="footer-section">
      <h4>Enlaces útiles</h4>
      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink='products'>Productos</a></li>
        <li><a routerLink="/mantenimiento">perfil</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contáctanos</h4>
      <p>Email: infotigersplants.com</p>
      <p>Teléfono: +51 916 877 929</p>
      <p>Ubicación: Lima, Perú</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 TIGERSPLANTS. Todos los derechos reservados.</p>
  </div>
</footer>
