<app-carruzel-home></app-carruzel-home>
<div class="titulo"> <h1> TIGERSPLANTS</h1></div>
<div class="subtitulo"> <h1> “Donde la naturaleza florece contigo”</h1></div>
<div class="img-description"><img class="img-rose" src="https://cdn.pixabay.com/photo/2014/02/10/00/32/flower-263234_1280.jpg">
<div class="description"><span>Bienvenido a "TIGERSPLANTS", tu vivero de confianza donde cada planta cuenta una historia. Nos dedicamos con pasión al cultivo y cuidado de una gran variedad de plantas ornamentales, medicinales y frutales. Aquí encontrarás el espacio perfecto para conectarte con la naturaleza, embellecer tu hogar y descubrir el poder de lo natural. 

 “Cultiva vida, siembra bienestar.”</span></div></div>

 <img class="img-oferta" src="https://images.tiendamia.com/materiales/general/mgn2/2024/costa_rica/abril/ofertas%20semana/landing/ofertas_m2_sublandingdesk_1146x229.png">
 <app-list-home></app-list-home>
 <app-divers-products></app-divers-products>